@tailwind base;
@tailwind components;
@tailwind utilities;

/* Theme color variables */
:root.theme-light {
  --color-background: #ffffff;
  --color-foreground: #1a202c;
}
:root.theme-dark {
  --color-background: #1a202c;
  --color-foreground: #e2e8f0;
}

@layer base {
  html {
    background-color: var(--color-background);
    color: var(--color-foreground);
    border-color: #fff;
  }
}
